<div class='registration'>
 		<form id='form' enctype='multipart/form-data'>
 			<h2>Регистрация<h2>
 			<input id='Name' name='name' placeholder="ФИО" class="form-field" type='text'/>
 			<input id='IIN' name='IIN' placeholder="ИИН" class='form-field'/>
 			<input id='Adrs' name='adress' placeholder="Адресс" class='form-field'/>
 			<input id='Number' name='phoneNumber' placeholder="Номер телефона,без +" class='form-field number-field'/>
 			<input id='Date' name='date' placeholder="дата" type="date" class='form-field'/>
 			<label for='image'>фотография</label> 
 			<input accept='image/*' class='form-field' type="file" id="file" name="file"/>
 			<button class ='submit-button' type='submit'>Отправить</button>
 		</form>
 </div>