<div class='UsersList'>
	<div>
	<input class="form-field" placeholder="Поиск" id='search'/><button class='search-btn'>Поиск</button>
				<div class='search-box'></div>
				</div>
	<div class= 'users-box'>		
	
	</div>	
</div>

